<strong>Toast Types: </strong>
<button (click)="addToast()">Default</button> |
<button (click)="addToast('info')">Info</button> |
<button (click)="addToast('success')">Success</button> |
<button (click)="addToast('danger')">Danger</button> |
<button (click)="addToast('warning')">Warning</button>
<br><br>

<br><br>
<button (click)="mockHttp(400)">Bad Request Error</button> |
<button (click)="mockHttp(401)">Unauthenticated Error</button> |
<button (click)="mockHttp(403)">Unauthorized Error</button> |
<button (click)="mockHttp(404)">Not Found Error</button> |
<button (click)="mockHttp(500)">Server Error</button>

<app-toastr [toasts]="toasts$ | async"></app-toastr>

<ol>
  <li *ngFor="let product of products">
    <h3>{{ product?.title }}</h3>
    <button (click)="deleteProduct(product.id)">Delete</button>
  </li>
</ol>
